@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kristi&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$brand: #ff7f6c;

html, 
body {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Grid Container
.magazine-container {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-gap: 0;
  position: relative;
}

.magazine__item {
  background-color: #EBEBEB;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 509px;
  width: 100%;
  filter: grayscale(100%) contrast(105%) brightness(0.8);
}

.magazine__title {
  color: $brand;
  font-family: 'Playfair Display', serif;
  font-size: 40rem;
  font-weight: lighter;
  text-transform: uppercase;
  
  position: absolute;
  top: -120px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.magazine__subtitle
{
  color: $brand;
  font-family: 'Kristi', cursive;
  font-size: 30rem;
  position: absolute;
  bottom: 200px;
  left: 200px;
  line-height:0.8em;
   font-weight: 300;
}

.magazine__editorname
{
  color: $brand;
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  
  position: absolute;
  bottom: 120px;
  right: 100px;
  margin: 0;
  
}
