@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

@import url('https://fonts.googleapis.com/css?family=Kristi&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.magazine-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 0 360px 0 360px 0 360px;
  grid-template-columns: 360px 360px 360px 360px;
  grid-gap: 0;
  position: relative;
}

.magazine__item {
  background: -o-linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0.35) 49%,
    rgba(0, 0, 0, 0.34) 50%,
    rgba(0, 0, 0, 0.23) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0.35) 49%,
    rgba(0, 0, 0, 0.34) 50%,
    rgba(0, 0, 0, 0.23) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3b000000',GradientType=1 );
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 509px;
  width: 100%;
  -webkit-filter: grayscale(100%) contrast(105%) brightness(0.8);
  filter: grayscale(100%) contrast(105%) brightness(0.8);
}

.magazine__title {
  color: #ff7f6c;
  font-family: "Playfair Display", serif;
  font-size: 40rem;
  font-weight: lighter;
  text-transform: uppercase;
  position: absolute;
  top: -120px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.magazine__subtitle
{
  color: #ff7f6c;
  font-family: 'Kristi', cursive;
  font-size: 30rem;
  position: absolute;
  bottom: 200px;
  left: 200px;
  line-height:0.8em;
   font-weight: 300;
}

.magazine__editorname
{
  color: #ff7f6c;
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  
  position: absolute;
  bottom: 120px;
  right: 100px;
  margin: 0;
  
}